@import url("GLOBAL--reset.css");
@import url("GLOBAL--themes.css");
@import url("GLOBAL--fonts.css");

@import url("GLOBAL--page-header.css");
@import url("GLOBAL--page-body.css");
@import url("GLOBAL--page-footer.css");

@import url("exhibit--colors.css");
@import url("exhibit--float-images.css");


/* Body layout */

.l-body--flex {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Info header */

.c-info-header {
	border-bottom-width: 1.33px;
	border-bottom-style: solid;
	padding: 0.5em 0;
}

/* Exhibition header */

.l-exhibition-header {
	position: relative;
}

.l-exhibition-header__box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.c-exhibition-header--primary {
	font-weight: bold;
	font-size: 28pt;
}

.c-exhibition-header--secondary {
	font-style: italic;
	font-size: 20pt;
}

