@import url("GLOBAL--reset.css");
@import url("GLOBAL--themes.css");
@import url("GLOBAL--fonts.css");

@import url("GLOBAL--page-header.css");
@import url("GLOBAL--page-body.css");
@import url("GLOBAL--page-footer.css");

@import url("exhibit--colors.css");
@import url("exhibit--float-images.css");

@import url("exhibit--exhibition-header.css");

@import url("exhibit--js-collapse.css");


/* Body layout */

/* Info header */

.c-info-header {
	border-bottom-width: 1.33px;
	border-bottom-style: solid;
	padding: 0.5em 0;
}

/* Main article */

.l-main {
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 1024px;
}