@import url("GLOBAL--reset.css");
@import url("GLOBAL--themes.css");

@import url("GLOBAL--page-header.css");
@import url("GLOBAL--page-body.css");
@import url("GLOBAL--page-footer.css");

@import url("exhibit--colors.css");
@import url("exhibit--float-images.css");
@import url("exhibit--fonts.css");

/* Body layout */
.l-body--flex {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.l-box {
	display: flex;
	flex-direction: row;
	min-height: 50vh;
}

/* Page header */

.c-info-header {
	border-bottom-width: 1.33px;
	border-bottom-style: solid;
	padding-bottom: 0.5em;
}

/* Exhibition header */

.c-exhibition-header--primary {
	font-weight: bold;
	font-size: 28pt;
}

.c-exhibition-header--secondary {
	font-style: italic;
	font-size: 20pt;
}

/* Main */
