.l-page-footer {
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
}

.l-page-footer__section {
	flex-grow: 1;
	margin: 0.5em 0;
}

.o-page-footer__header {
	font-size: 16pt;
	font-weight: bold;
}

@media (min-width: 700px) {
	.l-page-footer {
		flex-direction: row;
	}
	
	.l-page-footer__section {
		padding-right: 0.5em;
	}
}