@media not (min-width: 700px) {

	.u-device--not-mobile {
		display: none;
	}
	
}

@media (min-width: 700px) and (not (min-width: 1024px)) {
	
	.u-device--not-tablet {
		display: none;
	}
	
}

@media (min-width: 1024px) {
	
	.u-device--not-web {
		display: none;
	}
	
}
