[data-js-collapse-state="true"] .data-js-collapse {
	display: none;
}

/* Mobile view */

@media (max-width: 700px) {
	[data-js-collapse-state="true"] .data-js-collapse--tablet {
		display: none;
	}
}

/* Web view (PC) */
@media (min-width: 1024px) {
	[data-js-collapse-state="true"] .data-js-collapse--web {
		display: none;
	}
}
