/* Body */

.l-body--flex {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/* Paddings */

.l-primary-padding {
	padding: 0.25em 2em;
}

@media (min-width: 1024px) {
	.l-primary-padding {
		margin: auto;
	}
}

