@import url("reset.css");
@import url("themes.css");

@import url("page-header.css");
@import url("page-footer.css");

@import url("exhibit--colors.css");
@import url("exhibit--fonts.css");
@import url("exhibit--float-images.css");


/* Body layout */
.l-body--flex {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/* Page header */

.c-info-header {
	border-bottom-width: 1.33px;
	border-bottom-style: solid;
	padding-bottom: 0.5em;
}

/* Exhibition header */

.c-exhibition-header--primary {
	font-weight: bold;
}

.c-exhibition-header--secondary {
	font-style: italic;
}