.t-primary-strong-color {
	color: #c7563f;
}

.t-page-header--name__color {
	color: #2e3192;
}

.t-exhibition-header__color {
	background-color: #f9ac78;
	color: white;
}

.t-info-header-border__color {
	border-bottom-color: #808080;
}
